@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

.current-video {
    position: relative;
    background-color: #000000;
    height: 57.1875vw;

    &__video {
        width: 100vw;
        height: 100%;
        object-fit: cover;

        @include tablet {
            width: 91.1459vw;
            margin: 0 32px;
        }
    }

    &__controls-container {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 43.75vw;
        width: 90vw;
        background-color: transparent;
        margin: 0 $mobile-margin 0 $mobile-margin;

        @include tablet {
            top: 51.25vw;
            margin: 0 40px;
        }
    }

    &__play {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        width: 48px;
        height: 30px;
    }

    &__scrubber {
        @extend .current-video__play;
        width: 45.3125vw;
        margin: 0 8px;

        @include tablet {
            width: 67.5781vw;
            margin: 0 16px;
        }
    }

    &__scrubber-line {
        background-color: #000000;
        height: 4px;
        width: 34.375vw;
        border-radius: 5px;

        @include tablet{
            width: 53vw;
            margin: 0 16px;
        }
    }

    &__scrubber-time {
        color: #FFFFFF;
        font-size: 0.6rem;
        font-weight: 600;
        display: none;

        @include tablet {
            display: inline-block;
        }
    }

    &__expand-volume {
        @extend .current-video__play;
        width: 79px;
    }

    &__expand {
        margin-right: 16px;
    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        margin: 0 $mobile-margin;
        border-bottom: 1px solid #E1E1E1;
    }

    &__title {
        color: $primary-font-color;
        font-size: 1.5rem;
        line-height: 1.4;
        margin: 25px 0 16px 0;
    }

    &__uploader {
        color: $primary-font-color;
        font-weight: 600;
        margin: 0;
    }

    &__date {
        color: $secondary-font-color;
        font-size: 0.9rem;
        margin: 2px 0 0 8px;
    }

    &__tally-container {
        display: flex;
        width: 120px;
        margin: 32px 0 24px 0;
    }

    &__tally-icon {
        margin-right: 8px;
    }

    &__tally-text {
        font-size: 0.9rem;
        color: $primary-font-color;
        margin: 0;
    }

    &__description-container {
        margin: 0 $mobile-margin;
    }

    &__description {
        font-size: 0.75rem;
        letter-spacing: 0.03px;
        line-height: 1.5;
        margin: 24px 0 40px 0;
    }
}