@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

.current-video__comment-form {
    @include desktop {
        max-width: 727px;
    }
}

.current-video__comment-form-container {
    display: flex;
    border-bottom: 1px solid #E1E1E1;

    @include tablet {
        padding-bottom: 14px;
    }
}

.current-video__avatar-container {
    margin: 24px 16px 0 0;
}

.current-video__avatar-image {
    background: url('../../assets/Images/Mohan-muruge.jpg') no-repeat;
    background-size: cover;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.current-video__comment-form-input {
    box-sizing: border-box;
    font-family: 'Avenir Next';
    border: solid #E1E1E1 2px;
    border-radius: 5px;
    background-color: #FAFAFA;
    height: 96px;
    width: 70vw;
    padding: 16px 12px;
    resize: none;
    outline: none;
    margin: 4px 0 16px 0;

    @include tablet {
        margin: 4px 0 0 0;
        height: 48px;
        width: 55vw;
    }

    @include desktop {
        width: 30vw;
    }
}

.current-video__comment-form-title {
    color: $secondary-font-color;
    font-size: 0.75rem;
    font-weight: 600;

    @include tablet {
        margin-right: 260px;
    }

    @include desktop {
        margin-right: 100px;
    }
}

::placeholder {
    color: $primary-font-color;
    font-size: 0.9rem;
}

.current-video__comment-form-button {
    height: 48px;
    width: 70vw;
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    background-color: $accent-color;
    color: #FFFFFF;
    margin: 0 0 24px 0;

    @include tablet {
        position: absolute;
        margin: 4px 0 0 16px;
        width: 160px;
    }

    @include desktop {
        margin: 4px 0 12px 12px;
    }
}