@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/Fonts/Linotype-AvenirNextLTPro.ttf");
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/Fonts/Linotype-AvenirNextLTProDemi.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/Fonts/Linotype-AvenirNextLTProBold.ttf");
    font-weight: 700;
}