$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$font-stack: 'Avenir Next', Arial, sans-serif;
$primary-font-color: #323232;
$secondary-font-color: #AFAFAF;
$accent-color: #0095FF;
$mobile-margin: 5vw;
$tablet-margin: 3.125vw;
$desktop-margin: 12.5vw;