@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

.current-video {
    position: relative;
    background-color: #000000;
    height: 57.1875vw;

    @include desktop {
        height: 37.5vw;
    }

    &__video {
        width: 100vw;
        height: 100%;
        object-fit: cover;

        @include tablet {
            width: 91.1459vw;
            margin: 0 4.4271vw;
        }

        @include desktop {
            width: 65.5556vw;
            margin: 0 17.2vw;
        }
    }
        
    &__controls-container {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 43.75vw;
        width: 90vw;
        background-color: transparent;
        margin: 0 $mobile-margin 0 $mobile-margin;

        @include tablet {
            top: 51.25vw;
            margin: 0 5vw;
        }

        @include desktop {
            top: 33.5vw;
        }
    }

    &__play {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        width: 48px;
        height: 30px;
    }

    &__scrubber {
        @extend .current-video__play;
        width: 45.3125vw;
        margin: 0 8px;

        @include tablet {
            width: 67.5781vw;
            margin: 0 16px;
        }

        @include desktop {
            width: 49vw;
        }
    }

    &__scrubber-line {
        background-color: #000000;
        height: 4px;
        width: 34.375vw;
        border-radius: 5px;

        @include tablet{
            width: 53vw;
            margin: 0 16px;
        }

        @include desktop {
            width: 40vw;
        }
    }

    &__scrubber-time {
        color: #FFFFFF;
        font-size: 0.6rem;
        font-weight: 600;
        display: none;

        @include tablet {
            display: inline-block;
        }
    }

    &__expand-volume {
        @extend .current-video__play;
        width: 79px;
    }

    &__expand {
        margin-right: 16px;
    }

    &__all {
        @include desktop {
            display: flex;
            margin: 0 150px;
        }
    }

    &__all-info {
        @include desktop{
            width: 50vw;
        }
    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        margin: 0 $mobile-margin;
        border-bottom: 1px solid #E1E1E1;

        @include tablet {
            margin: 0 $tablet-margin;
        }

        @include desktop {
            margin: 0;
        }
    }

    &__title {
        color: $primary-font-color;
        font-size: 1.5rem;
        line-height: 1.4;
        width: 90vw;
        margin: 25px 0 16px 0;

        @include tablet {
            font-size: 2.2rem;
        }

        @include desktop {
            font-size: 1.9rem;
        }
    }

    &__uploader {
        color: $primary-font-color;
        font-weight: 600;
        width: 45vw;
        margin: 0;

        @include tablet {
            width: 22vw;
        }

        @include desktop {
            width: 13vw;
        }
    }

    &__date {
        color: $secondary-font-color;
        font-size: 0.9rem;
        width: 27.9688vw;
        margin: 2px 0 0 8px;

        @include tablet {
            width: 40vw;
        }

        @include desktop {
            width: 15vw;
        }
    }

    &__tally-container {
        display: flex;
        width: 37.5vw;
        margin: 32px 0 24px 0;

        @include tablet {
            width: 13.0209vw;
            margin: 0 0 24px 16px;
        }

        @include desktop {
            width: 8.3334vw;
        }
    }

    &__tally-icon {
        margin-right: 8px;
    }

    &__tally-text {
        font-size: 0.9rem;
        color: $primary-font-color;
        margin: 0;
    }

    &__description-container {
        margin: 0 $mobile-margin;

        @include tablet {
            margin: 0 $tablet-margin;
        }

        @include desktop {
            margin: 0;
        }
    }

    &__description {
        font-size: 0.75rem;
        letter-spacing: 0.03px;
        line-height: 1.5;
        margin: 24px 0 40px 0;
        
        @include tablet {
            font-size: 0.85rem;
            width: 67.0573vw;
        }

        @include desktop {
            width: 35.5vw;
        }
    }

    &__comments-container {
        margin: 0 $mobile-margin;

        @include tablet {
            margin: 0 $tablet-margin;
        }

        @include desktop {
            margin: 0;
        }
    }

    &__comments-number {
        color: $primary-font-color;
        font-size: 1rem;
        font-weight: 600;
    }
}

.next-video__container {
    margin: 0 $mobile-margin;

    @include tablet {
        margin: 0 $tablet-margin;
    }

    @include desktop {
        margin: 0;
        padding-left: 24px;
        border-left: 1px solid #E1E1E1;
    }
}

.next-video__title {
    color: $secondary-font-color;
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0;
    padding: 40px 0;
}

.next-video__link {
    text-decoration: none;
}