@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/fonts";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

.next-video__container {
    margin: 0 $mobile-margin;

    @include tablet {
        margin: 0 $tablet-margin;
    }
}

.next-video__title {
    color: $secondary-font-color;
    font-size: 0.75rem;
    font-weight: 600;
    margin: 40px 0;
}