@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/Fonts/Linotype-AvenirNextLTPro.ttf") format('truetype');
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/Fonts/Linotype-AvenirNextLTProDemi.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/Fonts/Linotype-AvenirNextLTProBold.ttf") format('truetype');
    font-weight: 700;
}